<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
      Есть!
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">Главная</a>
      <a class="navbar-item">Рецепты</a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Больше
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">Blah</a>
          <a class="navbar-item">Blah</a>
          <a class="navbar-item">Blah</a>
        </div>
      </div>
    </div>

    {% if not request.user.is_authenticated %}
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{% url 'users:register' %}">
            <strong>Присоединиться</strong>
          </a>
          <a class="button is-light" href="{% url 'users:login' %}">
            Войти
          </a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</nav>