[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
faker = "*"
django-celery-beat = "*"
django-celery-results = "*"
redis = "*"
celery = "*"
pytest-factoryboy = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
