{% extends 'users/auth_wrap.html' %}
{% load i18n %}

{% block title %}{% trans "Сбросить пароль" %} | {% endblock title %}

{% block auth %}
<h2 class="title is-2">{% trans "Сбросить пароль" %}</h2>
<p class="mb-3">{% trans "Укажите свою электронную почту ниже, и мы отправим инструкцию по восстановлению пароля." %}</p>
<form method="post">{% csrf_token %}
  {% include 'includes/form.html' with form=form %}
    <button class="button is-warning" type='submit'>{% trans "Сбросить мой пароль" %}</button>
    {% if not request.user.is_authenticated %}
      <small><a class="ml-2 mt-2-5 is-inline-block" href="{% url 'users:login' %}">{% trans "Страница входа" %}</a></small>
    {% else %}
      <small><a class="ml-2 mt-2-5 is-inline-block" href="{% url 'recipes:home' %}">{% trans "На главную страницу" %}</a></small>
    {% endif %}
</form>
{% endblock %}