{% extends 'users/auth_wrap.html' %}
{% load i18n %}

{% block title %}{% trans "Активация аккаунта" %} | {% endblock title %}

{% block auth %}
  <h2 class="title is-2">{% trans "Запросить новую ссылку активации аккаунта" %}</h2>
  <form method="post" class="">{% csrf_token %}
    {% include 'includes/form.html' with form=form %}
    <button class="button is-info mr-2" type='submit'>{% trans "Отправить ссылку" %}</button>
    <small class="has-text-grey-light mt-2-5 is-inline-block"><a href="{% url 'users:login' %}" >{% trans "Страница входа" %}</a></small>
  </form>
{% endblock %}