{% extends 'users/auth_wrap.html' %}
{% load i18n %}

{% block title %}{% trans "Проверьте свою почту" %} | {% endblock title %}

{% block auth %}
  <h3 class="title is-3">{% trans "Проверьте свою почту" %}</h3>
  <p class="mb-3">{% trans "Мы отправили Вам инструкцию по восстановлению пароля." %}</p>
  <p class="mb-3">{% trans "Если Вы не получили письмо, удостоверьтесь, что указали правильный адрес электронной почты, или проверьте папку со спамом." %}</p>
  <a href="{% url 'recipes:home' %}">{% trans "Главная страница" %}</a>
{% endblock %}