{% extends 'users/auth_wrap.html' %}
{% load i18n %}

{% block title %}
  {% trans "Изменить пароль" %} | 
{% endblock title %}

{% block content %}
<section class="section">
  <div class="colums">
    <div class="column is-half is-offset-one-quarter">
      <h2 class="title is-2">{% trans "Изменить пароль" %}</h2>
      {% include 'includes/form.html' with form=form %}
      <form method="post">{% csrf_token %}
          <button type="submit" class="button is-warning">{% trans "Сохранить изменения" %}</button>
          <small>
            <a class="pl-2 pt-3 is-inline-block" href="{% url 'users:password_reset' %}">{% trans "Забыли свой старый пароль?" %}</a>
            <a class="pt-3 has-text-grey-light is-block" href="{% url 'recipes:home' %}">{% trans "На главную страницу" %}</a>
          </small>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
