{% extends "users/auth_wrap.html" %}
{% load i18n %}

{% block title %}{% trans "New password" %} | {% endblock title %}

{% block auth %}


  {% if validlink %}
    <p class="pb-3">{% trans "Укажите новый пароль дважды, чтобы мы могли проверить, что он введён правильно." %}</p>
    <form method="post">{% csrf_token %}
        {% include 'includes/form.html' with form=form %}
        <button class="button is-warning" type="submit">{% trans "Изменить мой пароль" %}</button>
    </form>
  {% else %}
    <p>{% trans "Ссылка сброса пароля недействительна, возможно, уже использовалась." %} <a href="{% url 'password_reset' %}">{% trans "Пожалуйста, запросите новую ссылку" %}</a></p>
  {% endif %}


{% endblock %}