{% load i18n %}

{% autoescape off %}
  <p>
    {% blocktranslate %}Вы получили это письмо, потому что запросили сброс пароля для своего аккаунта на сайте {{ site_name }}.{% endblocktranslate %}
  </p>

  <p>{% translate "Пройдите по ссылке ниже, что изменить свой пароль:" %}
    {% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
  </p>
  <p>{% translate 'Имя пользователя:' %} <strong>{{ user.username }}</strong></p>
{% endautoescape %}