{% extends 'users/auth_wrap.html' %}
{% load i18n %}

{% block title %}
  {% trans "Изменить пароль" %} | 
{% endblock title %}

{% block auth %}
  <h2 class="title is-2">{% trans "Изменить пароль" %}</h2>
  {% include 'includes/form.html' with form=form %}
  <form method="post">{% csrf_token %}
    <button type="submit" class="button is-warning">{% trans "Сохранить изменения" %}</button>
    <small>
      <a class="ml-2 mt-2-5 is-inline-block" href="{% url 'password_reset' %}">{% trans "Забыли свой старый пароль?" %}</a>
      <a class="mt-3 has-text-grey-light is-block" href="{% url 'recipes:home' %}">{% trans "На главную страницу" %}</a>
    </small>
  </form>
{% endblock auth %}
