{% extends 'users/auth_wrap.html' %}
{% load i18n %}

{% block title %}{% trans "Проверьте свою почту" %} | {% endblock title %}

{% block content %}
<section class="section">
  <div class="colums">
    <div class="column is-half is-offset-one-quarter">
      <p class="pb-3">{% trans "Мы отправили Вам инструкцию по восстановлению пароля, если существует аккаунт с той почтой, которую Вы указали." %}</p>
      <p class="pb-3">{% trans "Если Вы не получили письмо, удостоверьтесь, что указали правильный адрес электронной почты, или проверьте папку со спамом." %}</p>
      <a href="{% url 'recipes:home' %}">{% trans "Главная страница" %}</a>
    </div>
  </div>
</section>
{% endblock %}