{% extends 'users/auth_wrap.html' %}
{% load i18n %}

{% block title %}{% trans "Сбросить пароль" %} | {% endblock title %}

{% block content %}
<section class="section">
  <div class="colums">
    <div class="column is-half is-offset-one-quarter">
      <h2 class="title is-2">{% trans "Сбросить пароль" %}</h2>
      {% if 'login' in request.META.HTTP_REFERER %}
      <p class="pb-3">{% trans "Укажите свою электронную почту ниже, и мы отправим инструкцию по восстановлению пароля." %}</p>
      {% endif %}
      <form method="post">{% csrf_token %}
        {% include 'includes/form.html' with form=form %}
          <button class="button is-warning" type='submit'>{% trans "Сбросить мой пароль" %}</button>
          {% if not request.user.is_authenticated %}
            <small><a class="pl-2 pt-3 is-inline-block" href="{% url 'users:login' %}">{% trans "Страница входа" %}</a></small>
          {% else %}
            <small><a class="pl-2 pt-3 is-inline-block" href="{% url 'recipes:home' %}">{% trans "На главную страницу" %}</a></small>
          {% endif %}
      </form>
    </div>
  </div>
</section>
{% endblock %}